<%- layout('layouts/main.ejs') %>

<header class="intro">
    <img class="photo" src="img/Letter-J-PNG.png" alt="logo">
</header>
<h1 class="title1">Please Login or Sign up. </h1>

<div class="links">
    <a class="title-link" href="/signin" method="GET">Login</a> <span>or</span>
    <a class="title-link" href="/signup" method="GET">Sign Up</a>
</div>
