<%- layout('layouts/main.ejs') %>

<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand"><img class="main" src="img/Letter-J-PNG.png" alt="logo"></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Users, Tags, Hashtags" aria-label="Search">
                <button class="button" type="submit">Search</button>
            </form>
                <button class="button-nav" type="submit" ><a method="POST" href="/logout">Log out</a></button>
            </div>
        </div>
    </nav>
</header>

<div class="flex-container">
    <div class="column-2">
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">1</div></div>
            <div class="flex-container-2"><b class="title">Guitar</b></div>
            <div class="flex-container-2"><img class="logo" src="https://www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">2</div></div>
            <div class="flex-container-2"><b class="title">Bass</b></div>
            <div class="flex-container-2"><img class="logo" src="https://www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@fender_guy</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="partials/images/photo-1568193755668-aae18714a9f1.jpg" alt="">
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@s_lappy</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="partials/images/800px-Bass_guitar_477085398-744x528.jpg" alt="">
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@redo</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="partials/images/amp-buying-guide-1573684308.jpg" alt="">
        </div>
    </div>
    <div class="column-2">
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">3</div></div>
            <div class="flex-container-2"><b class="title">Acoustics</b></div>
            <div class="flex-container-2"><img class="logo" src="www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">4</div></div>
            <div class="flex-container-2"><b class="title">Notes</b></div>
            <div class="flex-container-2"><img class="logo" src="www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex">
            <img src="partials/images/everything-about-electric-guitars-playing-1600x1063.jpg" alt="">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@studio_arc</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
        </div>
        <div class="div-flex">
            <img src="partials/images/Para Placa De Spotify  991.jpg" alt="">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@emerald_productions</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
        </div>
        <div class="div-flex">
            <img src="partials/images/9d09e1fe11afce85093f055dcb5297cf.jpg" alt="image">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="partials/images/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@music_mania</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
        </div>
    </div>
    <div class="column-2">
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">5</div></div>
            <div class="flex-container-2"><b class="title">Tempo</b></div>
            <div class="flex-container-2"><img class="logo" src="https://www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex-tag">
            <div class="flex-container-2"><div class="flex-number">6</div></div>
            <div class="flex-container-2"><b class="title">Tuner</b></div>
            <div class="flex-container-2"><img class="logo" src="https://www.istockphoto.com/photos/dark-color-gradient" alt="logo"></div>
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="img/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@unplugged</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="img/4767341c-082819-insync-acousticunder1000-1200x628.jpg" alt="">
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="img/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@super_basssss</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="img/02_Bass_OpeningAct_Mobile_02@2x.jpg" alt="">
        </div>
        <div class="div-flex">
            <div class="div-flex-tag-2">
                <div class="flex-container-2"><img class="user" src="img/grad.jpg" alt="logo"></div>
                <div class="flex-container-2"><p>@sorrow_and_silence</p></div>
                <div class="flex-container-2"><a href="#">Follow</a></div>
            </div>
            <img src="img/How to Make an Acoustic Guitar.jpg" alt="">
        </div>
    </div>
    <div class="column-2">
        <div class="div-flex-2">
            <h5 class="trends">Trending People</h5>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@sorrow_and_silence</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@turco_av07</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@easter_egg</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@fourth_wall</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@do_u_see_this</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="div-flex-tag-3">
                <div class="flex-container-grad"></div>
                <div class="flex-container-3"><a class="follow" href="#">@emanchondo</a></div>
                <div class="flex-container-3"><a class="follow" href="#"><h5>+</h5></a></div>
            </div>
            <div class="hr"></div>
            <div class="flex-container-4"><a href="#" class="more">See More...</a></div>
        </div>
    </div>
</div>